@charset "UTF-8";

#menu-content {
    position: absolute;
    /* 노트북 기준 */
    top: 449px;
    /* 데스크탑 기준 */
/*     top: 508px; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 75%;
    padding-top: 20px;
    border-top: 1px solid #3D3D3D !important;
    background-color: rgb(255, 255, 255);
    display: none;
}

.cate_a {
    font-size: 20px;
    text-decoration: none !important; /* 밑줄 제거 */
    color: black !important; /* 텍스트 색상 지정 */ 
    
}

#ul_center {
    list-style-type: none;
}

.menu_title {
    float: left;
    margin-right: 80px;
    margin-bottom: 10px;
}

.menu_list {
    padding-left: 0px;
    color: #595959;
    
}

.cate_hr {
    margin-bottom: 15px;
}

li {
	list-style-type: none;
    margin-bottom: 10px;
}